.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    z-index: 10;
    background: rgba(100, 100, 255, 0.7);
}

.toolbar_search {
    border: solid 3px black;
    border-radius: 5px;
    height: 1.8rem;
    display: inline-block;
    vertical-align: top;
}

.toolbar_input {
    border: none;
    border-radius: 5px 0 0 5px;
    height: 100%;
    outline: none;
    padding: 0 0.2rem;
    min-width: 12rem;
}

.toolbar_submit {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 2rem;
    cursor: pointer;
    transition: all, 1s;
    margin: 0
}

.toolbar_submit:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


.toolbar_toggle-panel, .toolbar_show-history {
    margin: 0 0 0 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: content-box;
    cursor: pointer;
    transition: all 1s;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 3px #EEE;
    background-color: #EEE;
    height: 1.4rem;
    width: 0.8rem;
    box-shadow: 0 0 0 4px black
}


.toolbar_toggle-panel:hover, .toolbar_show-history:hover {
    background-color: white;
    border-color: white;

}



.toolbar_toggle-panel:disabled {
    cursor: not-allowed;
    background-color: #EEE;
    border-color: #EEE;
    box-shadow: 0 0 0 4px #555;
    backdrop-filter: brightness(20%);
}


