.results-panel_visible {
    transition: all 0.2s;
    height: calc(100vh - 5rem);
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 255, 0.8);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    position: fixed;
    top: 3.95rem;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.results-panel_hidden {
    transition: all 0.2s;
    height: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 255, 0.8);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    position: fixed;
    top: 3.95rem;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}